<!doctype html>
<html lang="en">
<head>
    <title>Mobile Connection Creator</title>
</head>

<body>
    <div class="container">
        <form method="post" action="/scan">
            <h1 class="text-center">Mobile Connection Creator</h1>
            <button type="submit">Create Connection</button>
        </form><hr>
    </div>
</body>
</html>